html{
    font-size: 62.5%;
}
button{
    color: beige;
    background: none;
    border-style: none;
    margin: 1rem;
}

/* button styles */
.button{
    display: inline;
    padding: 1.5rem 2rem;
    margin: 2rem;
    background-color: rgb(7, 7, 7);
    border-radius: 3rem;
}
.button_media_wrapper{
    display: flex;
    justify-content: center;
}


/* logo styles */
.logo{
    position: relative;
    left: 0rem;
    top: 1rem;
}
.logo_wrapper{
    width: 6rem;
    margin: 1rem;
}

/* tridala title style */
.trdla_title_wrapper{
    position: relative;
    display: flex;
    justify-content: center;
}
.trdla_title{
    display: inline;
    font-size: 3rem;
    padding-top: 1rem;
}

/* header wrapper styles */
.header_wrapper{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    margin: auto;
    user-select: none;
}

/* e-card styles */
.image{
    width:100%;
}
.e_card_wrapper{
    width: 30rem;
    margin: 1rem auto;
    pointer-events: none;
    user-select: none;
}
.e_card_wrapper_view{
    width: 60rem;
    margin: 1rem auto;
    pointer-events: none;
    user-select: none;
}

/* telephone media wrapper */
.telNo{
    display: inline;
    font-size: 2rem;
}

.telNo_wrapper{
    padding-top: .2rem;
    margin: 2rem 0.5rem;
}

.telIcon_wrapper{
    width: 3rem;
    margin: 2rem 0.5rem;
}

.telMed_wrapper{
    display: flex;
    justify-content: center;
}

/* maps media */
.maps_title{
    display: inline;
    font-family: 'Lucida sans', sans-serif;
}
.maps_title_wrapper{
    display: flex;
    justify-content: center;
}

.map_embed{
    width: 100%;
}

.map_embed_wrapper{
    display: flex;
    justify-content: center;
    width: 30rem;
    height: 30rem;
}
.maps_media_wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
}


